:root {
    --primary: #05c3ff;
    --text-color: #000;
    --width-layout: 1140px;
    --header-height: 135px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    font-size: 1.4rem;
    color: var(--text-color);
}

@font-face {
    font-family: 'FontTitle';
    src: url('/assets/fonts/josefinsans-bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'FontSolid';
    src: url('/assets/fonts/fa-solid-900.woff2');
    font-weight: 700;
}
