.wrapper {
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--width-layout);
}

.inner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone {
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 4px;

    &:hover {
        color: var(--primary);
    }
}

.logo {
    width: 145px;
    height: 75px;
    margin-top: 10px;
    margin-left: 74px;
}

.action {
    display: flex;
    gap: 20px;
}

.action-item {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;

    &:hover {
        color: var(--primary);
    }

    & ~ &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 15px;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        background: #8fbb43;
    }
}

.action-item:hover .search {
    display: block;
}

.search {
    display: none;
    position: absolute;
    width: 220px;
    height: 40px;
    top: -65px;
    left: -202px;
    z-index: 99;
    border-radius: 5px;
    background-color: var(--white);
    border: 1px solid #000;
    opacity: 0;
    animation: fadeIn 0.5s ease-in both;
}

.search-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search-input {
    height: 100%;
    padding-left: 15px;
    padding-right: 4px;
    border-radius: 5px;
    caret-color: red;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex: 1;
    font-size: 1.6rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: var(--white);
    background-color: var(--primary);

    &:hover {
        opacity: 0.8;
    }
}

.cart-total {
    margin-left: 4px;
}

.inner-bottom {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
}

.nav-item {
    position: relative;
    font-weight: 700;
    padding: 12px 15px;
    color: #000;
    text-transform: uppercase;

    &:hover {
        color: var(--primary);
    }
}

.nav-item:hover .sub-nav {
    display: block;
    overflow: visible;
    max-height: 3000px;
    max-width: 3000px;
    opacity: 1;
    -webkit-transform: perspective(600px) rotateX(0deg);
    -moz-transform: perspective(600px) rotateX(0deg);
    -ms-transform: perspective(600px) rotateX(0deg);
    -o-transform: perspective(600px) rotateX(0deg);
    transform: perspective(600px) rotateX(0deg);
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end,
        padding 0s step-end;
    -o-transition: -o-transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end,
        padding 0s step-end;
    transition: transform 0.5s ease, opacity 0.2s ease, max-height 0s step-end, max-width 0s step-end,
        padding 0s step-end;
}

.sub-nav {
    display: none;
    inherits: false;
    position: absolute;
    width: 200px;
    padding: 0 10px;
    border-radius: 4px;
    top: 45px;
    left: 3px;
    z-index: 999;
    border: 1px solid #ccc;
    background-color: var(--white);
}

.sub-nav .sub-nav-item {
    display: flex;
    justify-content: left;
    padding: 7px 5px 7px 0px;
    text-transform: none;
    font-weight: normal;
    &:hover {
        color: var(--primary);
    }
}

.sub-nav-item ~ .sub-nav-item {
    border-top: 1px solid #e5e6ec;
}

// animations
@keyframes fadeIn {
    to {
        top: -10px;
        opacity: 1;
    }
}
