.wrapper {
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    justify-content: space-between;
    width: var(--width-layout);
}

.inner-top {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.action-item {
    font-weight: 500;
    font-size: 1.5rem;
    &:hover {
        color: red;
    }
}

.action {
    display: flex;
    gap: 12px;
}

.action-item {
    position: relative;
}

.action-item ~ .action-item::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    left: -6px;
    background-color: red;
}
